@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,900&display=swap');

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.container {
    width: 650px;
    max-width: 90%;
    margin: 110px auto;
    padding: 10px;
    background-color: #000000;
    position: relative; /* container en position relative pour pouvoir placer le logo en position absolute en haut à gauche */
}

.border-neon {
    border: 2px solid #ffffff;
    outline: 3px solid #e97272;
}

/* autre possibilité pour créer la bordure
.border-neon {
    box-shadow:
    0 0 0 3px #fff7f7,   
    0 0 0 6px #e97272;
}
 */

#logo {
    position: absolute;
    margin-top: -140px;
    margin-left: -300px;
}

main{
    padding-top: 20px;
}

h1, h2, h3 {
    color: #ffffff;
    text-align:center;
    padding-left: 25%;
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
}

h1 {
    text-shadow: -2px 2px #e97272;
}

.items {
    text-align: center;
}

.item {
    color: #ffffff;
    display: inline-block;
    width: 110px;
    margin: 14px;
    height: 130px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: top;
    position: relative;
}

.img-overlay {
    position: absolute;
    left: 23px;
}

figure{
    margin: 0;
}

.baseline {
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    padding: 20px;
}
